<ion-header>
  <ion-toolbar>
       <ion-title>WeQuit</ion-title>
       <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
       </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <firebase-ui></firebase-ui>

  <div class="ion-text-center">
    <h1 *ngIf="afAuth.auth.currentUser">
      Welcome {{afAuth.auth.currentUser.displayName}}!
    </h1>
  
  <p>
    Thank you for signing up to WeQuit. This app is to aid you in your persute of a healthier lifestyle, 
    by quitting smoking and/or vaping.
  </p>
  <p>
    This app is not limited to but our main focus is helping you quit smoking and vaping, however some of our
     features could be found useful to cut down on any number of vices you may be trying to kick.
  </p>
  </div>

  

</ion-content>

<ion-footer>
  <ion-button expand="full" *ngIf="afAuth.auth.currentUser" (click)="signOut()" >
    Sign Out
  </ion-button>
</ion-footer>
